<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <h1>Users</h1>
    <p>
      This is a paragraph of text. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit.
    </p>
    <h2>This is an H2 heading</h2>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
    <h3>This is an H3 heading</h3>
    <a href="#">This is a link</a>
    <h4>This is an H4 heading</h4>
    <ol>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ol>
    <h5>This is an H5 heading</h5>
    <img src="https://via.placeholder.com/150" />
    <h6>This is an H6 heading</h6>
  </body>
</html>
